h2 {
    background-color: #f2f2f2;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    color: #2b2b2b;
}

h2 span {
    float:right;
    margin-right: 6vw;
    cursor: pointer;
}

.process-name-container {
    text-align: center;
}

.process-name-header {
    margin-left:-24px;
    margin-right:-24px;
    padding-left:24px;
    padding-top:18px;
    position:relative;
    top:-8px;
    padding-bottom: 8px;
}

.bottom-buttons {
    width: 100%;
}

.accept-button,
.cancel-button {
    float:right;
}

.cancel-button {
    margin-right:10px;
}

h2 span {
    float:right;
    margin-right: 6vw;
    cursor: pointer;
}